table {
    width: 100%;
    border: 4px solid black;
    text-align: center;
    border-collapse: collapse;
    background: linear-gradient(to right, #6e0000, antiquewhite);
}
th {
    border-collapse: collapse;
    border: 2px solid rgba(189, 195, 199, 0.05);
    text-align: center;
    color: #ffe369;
    font-weight: bold;
    background-color: rgba(110, 0, 0, 0.4);
    padding: 10px;
}
td {
    text-align: center;
    border: 2px solid rgba (189, 195, 199, 0.05);
}
td:nth-child(1) { color:white; font-weight:bold;}

tr:nth-child(2n) {background-color: rgba(189, 195, 199, 0.05);
}
tr { color: midnightblue;
    border: 2px solid rgba(189, 195, 199, 0.05);
}
tr > td:nth-child( n+2) {background-color: antiquewhite;
}
.color {
    color: #ffffff;
    background-color: #8f1616 !important;
}

a {
    color: #ffffff;
}