h1 {
    text-align: center;
    color: rgb(107, 107, 107);
}

.ALL {
    display: inline-block ;
    border: 1px solid silver;
    height: 500px;
    margin: 20px 50px 20px 10px;
    padding: 5px;
    padding: 20px 80px 20px 10px;
    background-color: #33393a;
    border: 1px solid;
}

.all {
    display: flex;
    border: 1px solid silver;
    width: 96%;
    height: 430px;
    padding: 50px 20px 20px 25px;
    background-color: #384e5a;
    border: 1px solid rgb(66, 79, 92);
}

select {
    background-color: grey;
    color: white;
}

a {
    background-color: grey;
    color: white;
}

span {
    color: white;
}

.block1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 250px;
}

.block2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    position: relative;
}

.twocheck {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 3px;
}

div {
    padding: 8px;
}

.kind {
    display: inline-block;
}

input[type="checkbox"] {
    display: none;
}

.kind {
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: #2b2e30;
    border: 1px solid rgb(194, 191, 191);
}

input:checked+.kind::after {
    content: " \2713 ";
    color: rgb(29, 168, 157);
}

.kind1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: relative;
    right: 20px;
}

.kind2 {
    display: inline-block;
}

.kind2 {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 100%;
    background: #353a3d;
    border: 1px solid rgb(124, 124, 124);
    background-color: rgb(27, 96, 143);
}

input:checked+.kind2::after {
    content: " \2713 ";
    color: white;
}

.kind3 {
    display: inline-block;
}

.kind3 {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 100%;
    background: #2b2e30;
    border: 1px solid rgb(129, 128, 128);
    background-color: rgb(46, 158, 149);
}

input:checked+.kind3::after {
    content: " \2713 ";
    color: white;
}

.kind4 {
    display: inline-block;
}

.kind4 {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 100%;
    background: #2b2e30;
    border: 1px solid rgb(151, 151, 151);
    background-color: rgb(180, 41, 180);
}

input:checked+.kind4::after {
    content: " \2713 ";
    color: white;
}

.kind5 {
    display: inline-block;
}

.kind5 {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 100%;
    background: #2b2e30;
    border: 1px solid rgb(129, 128, 128);
    background-color: yellow;
}

input:checked+.kind5::after {
    content: " \2713 ";
    color: white;
}

.kind6 {
    display: inline-block;
}

.kind6 {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 100%;
    background: #2b2e30;
    border: 1px solid rgb(145, 145, 144);
    background-color: rgba(216, 132, 6, 0.753);
}

input:checked+.kind6::after {
    content: " \2713 ";
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    width: 55px;
    height: 30px;
    top: 10px;
    left: 120px;
    background-color: #2b2e30;
    border-radius: 100px;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    bottom: 3px;
    background-color: #36b4c8;
    border-radius: 100%;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(0, 140, 255);
}

input:checked+.slider:before {
    transform: translateX(30px);
}


.image{
width: 40px;
height: 300px;
background-color: rgb(49, 63, 77);
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
position: absolute;
top: 235px;
left: 811px;
}
img{
    display: flex;
    flex-direction: column;
    height: 30px;
    position: relative ;
    padding: 15px;
    right: 5px;
    top: 0px;
}
input[type=range]{
    color: black;
    background-color: black;
}
input[type=range]  {
    width: 130px;
    -webkit-appearance: none;
    appearance: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    border-radius: 100%;
    height: 1px;
    border: 1px solid  black;
    background-color: black;
  }
  input[type=range]::-webkit-slider-thumb {
    background: #36b4c8;
    border: 2px solid #36b4c8;
    border-radius: 100%;
    width:20px;
    height: 20px;
    -webkit-appearance: none;
    margin-top: -4px;
  }
